<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light bg-white fixed-top">
          <a class="navbar-brand" href="/campgrounds"><i class="fab fa-bandcamp"></i><strong> YelpCamp</strong></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <form class="form-inline mr-3 nav-item" action="/campgrounds" method="GET">
                <input class="border-0 form-control form-control-sm mr-auto ml-auto" type="search" name="search" placeholder ="Search..." id="example-search-input">
              </form>
              <% if (!currentUser) { %>
                <li class="nav-item">
                  <a class="nav-link" href="/register"><i class="fas fa-user-plus"></i> Sign Up</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/login"><i class="fas fa-unlock-alt"></i> Login</a>
                </li>
              <% } else if (currentUser.isAdmin) { %>
                <a class="navbar-brand mr-1" href="/users/<%= currentUser._id %>">
                  <img class="rounded-circle" src="<%= currentUser.avatar %>" height="35" alt="Avatar of <%= currentUser.name %>">
                </a>
                <li class="nav-item">
                  <span class="nav-link text-secondary"><%= currentUser.username %> (Admin), Are you ready to explore?</span>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-secondary" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </li>
              <% } else { %>
                <a class="navbar-brand" href="/users/<%= currentUser._id %>">
                  <img class="rounded-circle mr-1" src="<%= currentUser.avatar %>" height="35" alt="">
                </a>
                <li class="nav-item">
                  <span class="nav-link text-secondary"><%= currentUser.username %>, ready for camping?</span>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </li>
              <% }; %>
            </ul>
          </div>
        </nav>
        <% if (error && error.length > 0) { %>
          <div class="alert alert-danger text-center" role="alert">
            <%= error %>
          </div>
        <% } %>
        <% if (success && success.length > 0) { %>
          <div class="alert alert-success text-center" role="alert">
            <%= success %>
          </div>
        <% } %>
