<% include ../partials/header %>
<div class="container-fluid">
    <header class="jumbotron text-center p-2">
        <h1>Welcome to YelpCamp</h1>
        <p>View our hand-picked campgrounds from all over the world!</p>
        <% if (currentUser) { %>
            <a class="btn btn-success" href="/campgrounds/new">Add New Campground!</a>
        <% }; %>
    </header>
    <main class="row">
        <% if (noMatch) { %>
            <h4 class=" text-center mb-4 ml-auto mr-auto"><%= noMatch %></h4>
        <% } %>
        <% campgrounds.forEach(function(camp){ %>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card cardAnimation">
                    <a href="/campgrounds/<%= camp._id %>">
                        <img class="card-img-top" src="<%= camp.image %>" alt="Image of <%= camp.image %>">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"><%= camp.name %></h5>
                        <p class="card-text">
                            <% if(camp.description.length >= 110) { %>
                            <%= camp.description.substring(0, 110) %>...
                            <% } else { %>
                            <%= camp.description %>
                            <% }; %>
                        </p>
                        <p class="card-text text-right text-secondary">
                            <% if (camp.comments.length === 0) { %>
                                No comments yet
                            <% } else if (camp.comments.length === 1) { %>
                                <%= camp.comments.length %> Comment
                            <% } else { %>
                                <%= camp.comments.length %> Comments
                            <% } %>
                        </p>
                    </div>
                </div>
            </div>
        <% }); %>
    </main>
</div>
<% include ../partials/footer %>