<% include ../partials/header %>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-3 pb-3">
            <div id="map"></div>
            <a class="btn btn-block btn-sm mt-3" href="/campgrounds">
                <i class="fas fa-hand-point-left"></i>  Back to Campgrounds
            </a>
        </nav>
        <main class="col-md-9">
            <div class="card">
              <img class="card-img-top" src="<%= campground.image %>" alt="Image of <%= campground.image %>">
              <div class="card-body">
                <h4 class="card-title">
                    <%= campground.name %>
                    <span class="float-right font-weight-normal">
                        <% if (Number(campground.price) === 0) { %>
                            Free
                        <% } else { %>
                            $<%= campground.price %>/night
                        <% } %>
                    </span>
                </h4>
                <p class="card-text "><%= campground.description %></p>
                <p class="card-text">
                  <em>
                    Created by 
                    <a href="/users/<%= campground.author.id %>"><%= campground.author.username %></a>, <%= moment(campground.createdAt).fromNow() %>
                  </em>
                </p>
                <% if (currentUser && (campground.author.id.equals(currentUser._id) || currentUser.isAdmin)) { %>
                    <a class="mr-auto btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                    <form class="btn-group" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                        <button class="ml-1 btn btn-sm btn-danger">Delete</button>
                    </form>
                <% } %>
              </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mt-1 mb-4">
                        Reviews
                        <a class="btn btn-info float-right" href="/campgrounds/<%= campground._id %>/comments/new">Leave a Review</a>
                    </h4>
                    <% campground.comments.forEach(function(comment) { %>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="card-text mt-2 mb-2">
                                    <%= comment.text %>
                                    <span class="float-right">
                                      <em>
                                        <a href="/users/<%= campground.author.id %>"><%= campground.author.username %></a>, 
                                        <%= moment(comment.createdAt).fromNow() %>
                                      </em>
                                    </span>
                                    <% if (currentUser && (comment.author.id.equals(currentUser._id) || currentUser.isAdmin)) { %>
                                        <form class="float-right" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                            <button class="ml-2 float-right btn btn-sm btn-danger">
                                                Delete
                                            </button>
                                            <a class="float-right btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
                                                Edit
                                            </a>
                                        </form>
                                    <% } %>
                                </p>
                            </div>
                        </div>
                     <% }); %>
                </div>
            </div>
        </main>
    </div>
</div>
<script>
  function initMap() {
    var lat = <%= campground.lat %>;
    var lng = <%= campground.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 5,
        center: center,
        scrollwheel: false,
        styles:  [
              {
                elementType: 'geometry',
                stylers: [
                  {
                    color: '#ebe3cd'
                  }
                ]
              },
              {
                elementType: 'labels.text.fill',
                stylers: [
                  {
                    color: '#523735'
                  }
                ]
              },
              {
                elementType: 'labels.text.stroke',
                stylers: [
                  {
                    color: '#f5f1e6'
                  }
                ]
              },
              {
                featureType: 'administrative',
                elementType: 'geometry.stroke',
                stylers: [
                  {
                    color: '#c9b2a6'
                  }
                ]
              },
              {
                featureType: 'administrative.land_parcel',
                elementType: 'geometry.stroke',
                stylers: [
                  {
                    color: '#dcd2be'
                  }
                ]
              },
              {
                featureType: 'administrative.land_parcel',
                elementType: 'labels.text.fill',
                stylers: [
                  {
                    color: '#ae9e90'
                  }
                ]
              },
              {
                featureType: 'landscape.natural',
                elementType: 'geometry',
                stylers: [
                  {
                    color: '#dfd2ae'
                  }
                ]
              },
              {
                featureType: 'poi',
                elementType: 'geometry',
                stylers: [
                  {
                    color: '#dfd2ae'
                  }
                ]
              },
              {
                featureType: 'poi',
                elementType: 'labels.text.fill',
                stylers: [
                  {
                    color: '#93817c'
                  }
                ]
              },
              {
                featureType: 'poi.park',
                elementType: 'geometry.fill',
                stylers: [
                  {
                    color: '#a5b076'
                  }
                ]
              },
              {
                featureType: 'poi.park',
                elementType: 'labels.text.fill',
                stylers: [
                  {
                    color: '#447530'
                  }
                ]
              },
              {
                featureType: 'road',
                elementType: 'geometry',
                stylers: [
                  {
                    color: '#f5f1e6'
                  }
                ]
              },
              {
                featureType: 'road.arterial',
                elementType: 'geometry',
                stylers: [
                  {
                    color: '#fdfcf8'
                  }
                ]
              },
              {
                featureType: 'road.highway',
                elementType: 'geometry',
                stylers: [
                  {
                    color: '#f8c967'
                  }
                ]
              },
              {
                featureType: 'road.highway',
                elementType: 'geometry.stroke',
                stylers: [
                  {
                    color: '#e9bc62'
                  }
                ]
              },
              {
                featureType: 'road.highway.controlled_access',
                elementType: 'geometry',
                stylers: [
                  {
                    color: '#e98d58'
                  }
                ]
              },
              {
                featureType: 'road.highway.controlled_access',
                elementType: 'geometry.stroke',
                stylers: [
                  {
                    color: '#db8555'
                  }
                ]
              },
              {
                featureType: 'road.local',
                elementType: 'labels.text.fill',
                stylers: [
                  {
                    color: '#806b63'
                  }
                ]
              },
              {
                featureType: 'transit.line',
                elementType: 'geometry',
                stylers: [
                  {
                    color: '#dfd2ae'
                  }
                ]
              },
              {
                featureType: 'transit.line',
                elementType: 'labels.text.fill',
                stylers: [
                  {
                    color: '#8f7d77'
                  }
                ]
              },
              {
                featureType: 'transit.line',
                elementType: 'labels.text.stroke',
                stylers: [
                  {
                    color: '#ebe3cd'
                  }
                ]
              },
              {
                featureType: 'transit.station',
                elementType: 'geometry',
                stylers: [
                  {
                    color: '#dfd2ae'
                  }
                ]
              },
              {
                featureType: 'water',
                elementType: 'geometry.fill',
                stylers: [
                  {
                    color: '#b9d3c2'
                  }
                ]
              },
              {
                featureType: 'water',
                elementType: 'labels.text.fill',
                stylers: [
                  {
                    color: '#92998d'
                  }
                ]
              }
        ]
    });
    var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<% apiKey %>&callback=initMap"></script>
<% include ../partials/footer %>