<% include ../partials/header %>
<div class="container-fluid">
    <nav class="col-md-4 ml-auto mr-auto">
        <div class="card">
          <img class="card-img-top" src="<%= user.avatar %>" alt="<%= user.username %>">
          <div class="card-body">
            <form class="text-center" action="/users/<%= user._id %>/?_method=PUT" method="POST">
                <input class="form-control mb-2" type="text" name="user[firstName]" value="<%= user.firstName %>">      
                <input class="form-control mb-2" type="text" name="user[lastName]" value="<%= user.lastName %>">
                <input class="form-control mb-2" type="text" name="user[email]" value="<%= user.email %>">
                <textarea class="form-control mb-2" name="user[bio]"><%= user.bio %></textarea>
                <% if (user.avatar === "http://i.imgur.com/HQ3YU7n.gif") { %>
                    <input class="form-control mb-3" type="text" name="user[avatar]">
                <% } else { %>
                    <input class="form-control mb-3" type="text" name="user[avatar]" value="<%= user.avatar %>">
                <% } %>
                <button type="submit" class="btn btn-warning mb-2 btn-block">Update</button>
                <a class="btn btn-sm btn-link" href="/users/<%= user._id %>">Go Back</a>
            </form>
          </div>
        </div>
    </nav>
</div>
<% include ../partials/footer %>