<% include ../partials/header %>
<div class="containter-fluid">
    <div class="row">
        <nav class="col-md-4">
            <div class="card">
              <img class="card-img-top" src="<%= user.avatar %>" alt="<%= user.username %>">
              <div class="card-body">
                <h4 class="card-title text-center">
                    <% function capitalizeFirstLetter(string) {
                        return string.charAt(0).toUpperCase() + string.slice(1);
                    } %>
                    <%= capitalizeFirstLetter(user.firstName) %> <%= capitalizeFirstLetter(user.lastName) %>
                </h4>
                <p class="card-text text-center text-secondary text-justify">
                    <a href="mailto:<%= user.email %>"><%= user.email %></a>
                </p>
                <p class="card-text text-center">
                    <%= user.bio %>
                </p>
                <p class="card-text text-center">
                    Campgrounds created: <strong><%= campgrounds.length %></strong>
                </p>
                <p class="card-text text-center">
                    Comments added: <strong><%= comments.length %></strong>
                </p>
                <% if (currentUser && user._id.equals(currentUser._id)) { %>
                    <a class="m-auto btn btn-sm btn-warning btn-block" href="/campgrounds/<%= user._id %>/edit">Edit Profile</a>
                    <form class="btn-group" action="/campgrounds/<%= user._id %>?_method=DELETE" method="POST">
                        <button class="m-auto btn btn-sm btn-danger btn-block">Delete Profile</button>
                    </form>
                <% } %>
              </div>
            </div>
        </nav>
        <main class="col-md-8">
            <div class="row">
                <% if (campgrounds) { %>  
                    <% campgrounds.forEach(function(camp){ %>
                        <div class="col-lg-4 col-md-6">
                            <div class="card">
                                <a href="/campgrounds/<%= camp._id %>">
                                    <img class="card-img-top" src="<%= camp.image %>" alt="Image of <%= camp.image %>">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title"><%= camp.name %></h5>
                                    <p class="card-text">
                                        <% if(camp.description.length >= 50) { %>
                                            <%= camp.description.substring(0, 50) %>...
                                        <% } else { %>
                                            <%= camp.description %>
                                        <% }; %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                <% } else { %>
                    <p class="card-text text-center">Oops! No campgrounds created yet!</p>
                <% } %>
            </div>
        </main>
    </div>
</div>
<% include ../partials/footer %>